<div class="index-outer-container">
  <div class="account-container">
    <h1>Мой аккаунт</h1>

    <div>
      <% if user_signed_in? %>
        <button class="button button-big">
          <h3><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></h3>
        </button>
        <div>
          <%= link_to 'Редактировать пользователя', edit_user_registration_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
