<h1>Editing Project In Portfolio</h1>

<%= render 'form', project_in_portfolio: @project_in_portfolio %>

<%= link_to 'Show', @project_in_portfolio %> |
<%= link_to 'Back', project_in_portfolios_path %>
