<%= javascript_pack_tag "editorReadOnly" %>
<%= javascript_include_tag "content", "data-turbolinks-track" => true  %>

<style media="screen">
  nav { display: none; }
</style>

<div class="" id="editorDataContainer" data-contents="<%= @content.to_json %>">
  <div class="editorjs" id="editorProject"></div>
</div>

<div class="TEST" contenteditable="true">

</div>





<%#= p @content.content_data["blocks"] %>

<%# @content.content_data.each_pair do |key, value| %>
 <%#= key %>
 <%#= value %>
<%# end %>

<%#= link_to 'Edit', edit_content_path(@content) %>
<%#= link_to 'Back', contents_path %>
