<%= javascript_pack_tag "editorReadOnly" %>

<style media="screen">
  nav { display: none; }
</style>

<div class="contents-container">
  <div class="editorjs" id="editorReadOnly" data-contents="<%= @content.to_json %>"></div>
  <div class="projects-container">
    <% if @content.contentable_type == "Portfolio"  %>
      <% @content.contentable.projects.each do |project| %>
        <div>
          <%= image_tag project.cover.url %>
          <h3><%= project.name %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<%#= p @content.content_data["blocks"] %>

<%# @content.content_data.each_pair do |key, value| %>
 <%#= key %>
 <%#= value %>
<%# end %>

<%#= link_to 'Edit', edit_content_path(@content) %>
<%#= link_to 'Back', contents_path %>
