<%= javascript_pack_tag "editorReadOnly" %>

<style media="screen">
  nav { display: none; }
</style>

<div class="contents-container">
  <div class="editorjs" id="editorReadOnly" data-contents="<%= @content.to_json %>"></div>
  <!-- ТУТ БУДУТ ПРОЕКТЫ, ЕСЛИ ЭТО КОНТЕНТ ПОРТФОЛИО -->
</div>





<%#= p @content.content_data["blocks"] %>

<%# @content.content_data.each_pair do |key, value| %>
 <%#= key %>
 <%#= value %>
<%# end %>

<%#= link_to 'Edit', edit_content_path(@content) %>
<%#= link_to 'Back', contents_path %>
