<div class="landing_content_container">
  <div class="landing_content">
    <div>
      <h1>Создайте личный сайт в  </h1>
      <%= image_tag("logo/long.svg", class:"logo") %>
    </div>
    <div>
      <%= image_tag "landing/landing_content.svg" %>
    </div>
    <div>
      <h1>Попробуйте<br>
          бета-версию</h1><br><br>
      <%= image_tag("logo/long.svg", class:"logo") %>
    </div>
    <div id="last_arrow_container">
      <%= image_tag "landing/last_arrow.svg" %>
    </div>
  </div>
</div>
