/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@font-face {
  font-family: 'ptrootui';
  src: url(/assets/ptrootui/ptrootui-bold.ttf) format("truetype");
  src: url(/assets/ptrootui/ptrootui-medium.ttf) format("truetype");
}

body {
  font-family: 'ptrootui';
  background-color: #212121;
  color: white;
  font-size: 16px;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #648FFD;
  background-color: rgba(255, 0, 0, 0);
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 16vw;
  position: fixed;
  /* background-color: #292929; */
  top: 0px;
  left: 0px;
}

.container {
  margin-left: 373px;
}

.editor {
  position: fixed;
  width: 40vw;
  height: 100vh;
  left: calc(16vw + 2vw);
  background-color: white;
}

.editor .field{
  width: inherit;
  border-style: none;
  padding: 0px;
}

.editor * {
  color: black;
}

/* .ui-tabs-panel {
  color: inherit;
  background-color: #292929;
} */

.toolbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: calc(16vw + 2vw + 40vw + 2vw);
}

.buttons {
  width: 874px;
  display: flex;
  justify-content: space-between;
}

.buttons a {
  height: 48px;
  background-color: #292929;
  line-height: 48px;
  font-weight: bold;
  border-radius: 11px;
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-size: 76px;
}

.miniature {
  width: 48px;
}





/* Style the tab */
.tab {
 overflow: hidden;
 cursor: pointer;
 position: fixed;
 width: 36vw;
 right: 100px;
 left: calc(16vw + 2vw + 40vw + 2vw);
 top: 0;
}

.tabbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
 /* transition: 0.3s; */
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
}

/* Create an active/current tablink class */
.tab .tablinks.active {
  color: #648FFD;
}

/* Style the tab content */
.tabcontent {
 display: none;
}
