@import "variables";

.contents#show {
  color: $background;
  background-color: white;
}

.contents-container {
  // align-self: start;
  min-height: 50vh;

  color: $background;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.editorjs {
  margin-top: 120px;

  h1 {
    margin-bottom: 24px;
    padding: 0;
  }

  .ce-paragraph {
    padding: 0;
  }

  .embed-tool__content {
    min-height: 481px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
  }
}

.portfolios#edit, .projects#edit, .resumes#edit {
  .contents-container {
    margin-top: 64px;
  }

  .editorjs {
    width: 40vw;
    min-height: 20vh;

    h1 {
      font-size: 40px;
      line-height: 40px;
    }

    .ce-paragraph {
      width: 32vw;
      font-size: 14px;
    }

    .embed-tool__content {
      width: 40vw;
    }
  }
}

.contents#show {
  .contents-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }

  .editorjs {
    h1 {
      font-size: 60px;
      line-height: 60px;
    }
    .ce-paragraph { width: 40vw; }
    .embed-tool__content { width: 60vw; }
  }
}

div.codex-editor__redactor {
  padding-bottom: 40px !important;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 48px;

  img {
    width: 100%;
  }
}

.cdx-notifies {
  color: $surface;
}
