@import "variables";

body.contents#show {
  background-color: white;
  color: $background;
}

.content-in-show {
  img {width: 100%;}

  h1 {
    font-size: 32px;
    line-height: 28px;
  }
  h2 {
    font-size: 24px;
    line-height: 24px;
  }
  h3 {
    font-size: 14px;
    line-height: 18px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.content-in-show {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $column-gap;

  padding-top: 80px;
  padding-bottom: 40px;
}

.editorjs-in-show {
  grid-column-start: 4;
  grid-column-end: span 5;

  & > div {
    margin-bottom: 8px;
  }
}

.projects-container-in-show {
  grid-column-start: 4;
  grid-column-end: span 6;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: $column-gap;

  margin-top: 16px;

  div {
    grid-column-end: span 3;
    margin-bottom: 24px;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    h3 {color: $background;}
  }
}

@media screen and (max-device-width: 600px) {
  .editorjs-in-show {
    grid-column-start: 3;
    grid-column-end: span 7;
  }

  .projects-container-in-show {
    grid-column-start: 3;
    grid-column-end: span 8;
  }
}

@media screen and (max-device-width: 414px) {
  .content-in-show {
    grid-column-gap: 8px;
  }

  .editorjs-in-show {
    grid-column-start: 2;
    grid-column-end: span 10;
  }

  .projects-container-in-show {
    grid-column-start: 2;
    grid-column-end: span 10;

    div {
      grid-column-end: span 10;
    }
  }
}

.content-in-show button {
  position: fixed;
  right: 24px;
  bottom: 24px;

  h3 {
    padding-right: 0;
    margin-left: 16px;
  }

  img {
    width: 48px;
    padding-left: 8px;
    margin-right: 16px;
  }
}

#made_with_button {
  background-color: white;
  border-radius: 0;
  border: solid 2px $background;

  h3 {color: $background;}
}

.image-tool__caption {
  text-align: center;
  padding-top: 0;
  border: none;
  box-shadow: none;

  font-family: "ptrootui medium";
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}

.ce-paragraph {
}

.cdx-list__item {
  padding: 0 0 0 3px !important;
}

.ce-code__textarea {
  code {
    font-family: "menlo";
    font-size: 13px;
    line-height: 20px;
  }
  padding: 10px 12px;
  background-color: #EAEEF9 !important;
  border-radius: 8px;
}
