@import "variables";

.edit-outer-container {
  right: 0;
  position: absolute;
  width: 100vw - 6vw;
}

.edit-inner-container {
  display: grid;
  grid-template-columns: 1fr 32vw;
  grid-column-gap: 64px;

  padding-right: 64px;

  .button input {
    margin: auto;
  }
}

.constructor {
  margin-top: 64px;
  margin-bottom: 64px;
}

.tabContent {
  display: none;

  input, textarea {
    width: 100%;
    margin-bottom: 24px;
  }
}

.tabs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 32px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;

  }
}

.tabs-list-header {
  justify-content: space-between;
  width: 100%;

  h3 {
    margin-left: 8px;
  }
}

.tabs-list-item {
  height: 48px;
  width: 100%;

  img {
    margin-right: 16px;
  }
}

.miniature {
  width: 48px;
  height: 32px;
}

.label-checkbox input {
  width: 24px;
}

#addProjectToPortfolio {
  display: none;
}



// FIXED BARS

.fixed-bars {
  z-index: 2;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 64px;

  position: fixed;
  right: 0;

  width: 100vw - 6vw;
  padding-right: 64px;

  height: 48px;
}

.bars-top-container {
  top: 0;
}

.bars-bottom-container {
  bottom: 0;
}

.bars-top {
  background-color: $surface;
  border-radius: 0 0 10px 10px;
}

.bars-top-left {
  width: 334px;
  margin-left: auto;
  margin-right: auto;
}

.bars-top-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.bars-bottom {
  background-color: $surface;
  border-radius: 10px 10px 0 0;
}

.bars-bottom-left {
  display: none;
}

.bars-bottom-right {
  grid-column-start: 2;
}

.bars-bottom-right-buttons {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fixed-bars {
  h3 {
    margin: auto;
    cursor: pointer;

    &.active {
      color: $primary;
    }
  }
}

.export-panel {
  position: fixed;
  bottom: 48px + 32px;
  right: 64px;
  z-index: 2;
  display: none;

  width: 32vw;
  height: 264px;

  background-color: $surface;
  border-radius: 10px 10px 10px 10px;
}
