@import "variables";

.edit-page-container {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  column-gap: $column-gap;
  position: fixed;
  right: 0;
  width: 100vw - $column-edit;
  margin-left: $column-gap;
}


// PREVIEW

.preview-container {
  grid-column-end: span 15;

  display: grid;
  grid-template-rows: 40px 1fr 40px;
  grid-row-gap: 40px;

  //??
  position: relative;

  height: 100vh;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  p {line-height: 14px;}
}

.contents-container-in-preview {
  min-height: 460px;
  // max-height: 90vh;
  // margin-top: 40px;

  display: grid;
  grid-template-rows: 40px 1fr;
  // li {list-style-type: disc;}
}

.browswer-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 40px;
  background-color: $surface;
  border-radius: 8px 8px 0 0;

  div {
    width: 12px;
    height: 12px;
    margin-right: 4px;

    border-radius: 100%;
    background-color: $on-surface-double;
  }

  div:first-child {
    margin-left: 16px;
  }
}

.content-in-preview {
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-column-gap: $column-gap;

  padding-bottom: 40px;

  border-radius: 0 0 8px 8px;
  background-color: white;
  color: $background;
}

.content-in-preview > div:first-child {margin-top: 40px;}
.content-in-preview > div:last-child {padding-bottom: 64px;}

.editorjs-in-preview, .projects-container-in-preview {
  grid-column-start: 4;
  grid-column-end: span 8;
}

.content-in-preview {
  h1 {
    font-size: 24px;
    line-height: 24px;
  }
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

div.codex-editor__redactor {padding-bottom: 0px !important;}

.projects-container-in-preview {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: $column-gap;
  grid-row-gap: 16px;

  margin-top: 24px;

  div {
    grid-column-end: span 4;
  }
}

.projects-container {img {width: 100%;}}

.cdx-notifies {
  color: $surface;
}


// CONSTRUCTOR

.constructor-container {
  grid-column-start: 16;
  grid-column-end: span 7;

  display: grid;
  grid-template-rows: 40px 1fr 40px;
  // grid-row-gap: 40px;

  //??
  position: relative;

  height: 100vh;
}

.constructor {
  // max-height: 60vh;
  overflow-y: scroll;

  input, textarea {
    width: 100%;
  }
}

.constructor.disabled {
  display: none;
}

.constructor > div:first-child {
  margin-top: 40px;
}

#addCoverToProject {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: $column-gap;

  .project-cover {
    grid-column-end: span 3;
    position: relative;
    #iconRemove {
      display: none;
      position: absolute;
      top: 4px;
      right: 4px;
    }
    &:hover { #iconRemove {
      display: block;
      background-color: $primary;
    }}

    .project-cover-file {
      width: 100%;
      border-radius: 8px;
    }
  }

  .project-cover-buttons {
    grid-column-end: span 4;
    button {width: 100%;}
  }
}

.tabs-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 32px;
}

.tabs-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;

  h3 {margin-left: 8px;}

  .tabs-list-name {
    display: flex;
    flex-direction: row;
  }
}

.tab-list-items-container {
  display: flex;
  flex-direction: column;
}

.tabs-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  height: 48px;
  width: 100%;
  background-color: $background;

  .miniature {
    margin-left: 4px;
  }

  p {
    margin-left: 12px;
  }

  div:last-child {
    position: absolute;
    right: 0;
    margin-right: 8px;
  }
}

.label-checkbox input {
  width: 24px;
}



.tablink {
  position: relative;
  cursor: pointer;

  h3, img {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;

    width: max-content;
    line-height: 40px;
  }

  &.active {
    cursor: default;

    div {
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;

      width: 84%;
      height: 4px;

      background-color: $primary;
      transition: all 0.5s ease-out;
    }
  }

}

.preview-tablink {
  div {
    bottom: 0;
    border-radius: 10px 10px 0 0;
  }
}

.constructor-tablink.active {
  div {
    top: 0;
    border-radius: 0 0 10px 10px;
  }
}


// BARS

.bar {
  z-index: 2;
  height: 40px;
  background-color: $surface;
  box-shadow: $shadow;

  // right: 0;
  // width: 100vw - 6vw;
  // padding-right: 64px;
}

.bar-top {
  border-radius: 0 0 8px 8px;
}

#bar-preview-wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  column-gap: $column-gap;
}

#bar-preview {
  grid-column-start: 5;
  grid-column-end: span 7;
}

#exportBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {margin-right: 8px;}
}

.bar-bottom {
  border-radius: 8px 8px 0 0;
  // position: relative;
  // left: 0;
  // bottom: 0;
  // width: 100%;
}

.bar-with-two-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.bar-with-three-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}


// PANELS
#iconAdd {
  // position: absolute;
  width: 40px;
  height: 40px;
  background-color: inherit;
  box-shadow: none;
  &:hover {background-color: $primary;}
}

#iconRemove {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: inherit;
  box-shadow: none;
  &:hover {background-color: $primary;}
}

#iconDnd {
  width: 40px;
  height: 40px;
  background-color: inherit;
  box-shadow: none;
  &:hover {background-color: $primary;}
}

.panel.disabled {
  display: none;
}

.panel {
  position: absolute;
  bottom: 60px;
  z-index: 3;

  width: 100%;

  background-color: $surface;
  border-radius: 8px;

  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;

  button {
    background-color: $on-surface;
    width: 100%;
  }

  #iconRemove {
    position: absolute;
    top: 12px;
    right: 16px;
  }
}

#exportPanel {
  p {
    margin-bottom: 16px;
  }

  button:last-child {
    margin-top: 8px;
  }
}

.list-in-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  .miniature {
    margin-left: 4px;
    margin-right: 12px;
  }
}

#panelAddProjects {
  max-height: 80vh;
  overflow-y: scroll;
  padding-bottom: 0px;
  h3 {margin-bottom: 16px;}
  .list-in-panel:last-child {margin-bottom: 16px;}
}
