@import "variables";

.index-inner-container {
  width: 60vw;

  margin-left: auto;
  margin-right: auto;
}

.index-buttons-container {
  display: flex;
  justify-content: space-between;

  margin-top: 32px;
  margin-bottom: 64px;
}

h1 {
  margin-bottom: 48px;
}

.card-icons-group {
  align-self: flex-start;
  flex-basis: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  margin-top: 32px;
  margin-right: 8px;

  img {
    height: 16px;
    margin-right: 24px;
  }

  a + img {
    margin-right: 0;
  }
}
