@import "variables";

// LANDING CONTENT


.landing_content_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $column-gap;
}

.landing_content {
  // div {text-align: center;}
  grid-column-start: 2;
  grid-column-end: span 5;
  margin-top: 24vh;
  margin-bottom: 40vh;

  h1 {
    display: inline;

    font-family: "tttravels";
    font-size: 56px;
    line-height: 56px;
    vertical-align: top;
  }

  .logo {
    display: inline;
    width: 240px;
    margin: 0;
  }

  #last_arrow_container {
    text-align: end;
    margin-top: 40px;
    margin-right: 100px;
  }
}




// AUTHENTIFICATION

.auth_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $column-gap;

  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

}

.auth_panel {
  grid-column-start: 8;
  grid-column-end: span 4;
  margin: auto 0;
  border: 4px solid $primary;
  border-radius: 8px;


  .auth {
    margin: 48px auto;
    width: 75%;
  }

  .bar {margin-bottom: 48px}
  input, button {width: 100%;}
  button {margin-top: 48px;}
  p {text-align: center;}
}

.auth .tablink a {
  display: block;
  width: 100%;
  height: 100%;
}

.auth .tablink.active div {
  top: 0;
  border-radius: 0 0 10px 10px;
}
