@import "variables";

* {
 box-sizing: border-box;
 margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'ptrootui medium';
  background-color: #212121;
  color: white;
  font-size: 14px;
  margin: 0;
}

body#index h1, body.registrations#edit h1 {
  margin-top: 88px;
  margin-bottom: 48px;
}

ul {padding: 0;}

li {list-style-type: none;}
.cdx-list--unordered li {list-style-type: disc;}
.cdx-list--ordered li {list-style-type: decimal;}

a, a:visited {
  color: $text;
  text-decoration: none;
}

.miniature {
  border-radius: 4px;
  width: 48px;
  height: 32px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

div.disabled {
  display: none;
}
