@import "variables";

* {
 box-sizing: border-box;
 margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'ptrootui medium';
  background-color: #212121;
  color: white;
  font-size: 14px;
  margin: 0;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 16px;
  padding-right: 16px;

  color: white;
  border: none;
  border-radius: 8px;
  background-color: $surface;
  box-shadow: $shadow;

  cursor: pointer;
  * {cursor: pointer;}

  &:hover {background-color: $primary;}
}

.button-big {height: 48px;}
.button-medium {height: 40px;}
.button-small {height: 32px;}

.button h3 {margin-left: 8px;}
.input h3 {margin-bottom: 8px;}

input[type=text], input[type=email], input[type=password], input[type=number], textarea {
  padding: 16px;

  color: $text;
  background-color: $surface;
  border: none;

  font-family: "ptrootui medium";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  resize: none;
}

input[type=submit] {
  color: $text;
  background-color: $surface;
  border: none;
  padding: 0;

  font-family: "ptrootui bold";
  font-weight: 400;

  font-size: 14px;
  line-height: 24px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a, a:visited {
  color: $text;
  text-decoration: none;
}

// .divider-line {
//   width: 100%;
//   height: 2px;
//
//   background-color: $grey;
//
//   &:last-of-type {
//     display: none;
//   }
// }

.miniature {
  border-radius: 4px;
  width: 48px;
  height: 32px;
}
