@import "variables";

nav {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 16vw;
  height: 100vh;

  padding-top: 16px;
  padding-bottom: 32px;

  height: 100vh;

  transition: all 0.5s ease;
}

// nav > div {
//   margin-left: 10px;
// }

.nav-item-img {
  width: 18px;
  height: 14px;

  margin-top: auto;
  margin-bottom: auto;

  background: white;
  transition: all 0.5s ease;
}

.nav-items-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: inherit;

  .nav-item {
    display: flex;
    flex-direction: row;

    height: 48px;
    // margin-right: 10px;
    // padding-left: 10px;

    transition: all 0.5s ease;

    // &:hover {
    //   border-radius: 10px;
    //   background-color: $surface;
    //
    //   .nav-item-img {
    //     background: $primary;
    //   }
    // }
  }

  h3 {
    margin-left: 8px;
    line-height: 48px;
    transition: all 0.5s ease;
  }
}

.nav-item {
  width: 44px;
  h3 {
    display: none;
  }
}

.logo {
  padding-left: 10px;
  margin-bottom: 16px;

  #logo-long {
    display: none;
  }
}

// transition: all 0.5s ease;

.nav-item-shown {
  width: 16vw;
  background-color: $surface;
  border-radius: 10px;

  .nav-item-img {
    background: $primary;
  }

  h3 {
    display: block;
  }
}

.nav-shown {
  width: 16vw;
  background-color: $surface;

  #logo-long {
    display: block;
  }

  #logo-short {
    display: none;
  }

  .nav-item-img, h3 {
    display: block;
  }

  .nav-item {
    width: 16vw;
  }

  .nav-item:hover {
    border-radius: 10px;
    background-color: $background;
  }
}



#portfolio-icon {
  -webkit-mask: url("http://localhost:3000/assets/icons/menu/portfolios/default-25b0ece171a257e39a6acefa487952583ca3065cbbf8cf31ef1a7d61fb1a5b58.svg");
}

#project-icon {
  -webkit-mask: url("http://localhost:3000/assets/icons/menu/projects/default-59231967d3d23129807c126fa300e6a53e5cd5ce211fb67b5a5ce482b6808221.svg");
}

#resume-icon {
  -webkit-mask: url("http://localhost:3000/assets/icons/menu/resumes/default-fc786a2c8aa414f17be0020742ab0689afda917fd4e72ef1a1ac9c1b058be524.svg");
}

#settings-icon {
  -webkit-mask: url("http://localhost:3000/assets/icons/menu/settings/default-0cec70e70fa175a7f4188a8d32c36e393059e2c0659a0ea1b97a5f81ec495312.svg");
}
