// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 136px;

  &:hover {
    background-color: $surface;
  }
}

.card-text {
  flex-grow: 1;

  width: inherit;

  margin-left: 24px;

  h2 {
    margin-bottom: 8px;
  }
}
