.sessions-container {
  width: 244px;
  margin: auto;
  margin-top: 16vh;

  h2 {
    margin-bottom: 32px;
  }

  .field {
    margin-bottom: 24px;

    h3 {
      margin-bottom: 8px;
    }
  }

  .button {
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
  }
}
