// Colors and shadows

$text: #FFFFFF;
$background: #212121;
$surface: #2F2F2F;
$on-surface: #3B3B3B;
$on-surface-double: #444444;
$primary: #648FFD;
$secondary: #2C4EA6;
$error: #EE5960;
$grey: #BCBCBC;

$shadow: 0 2px 10px rgba(0,0,0,0.1);


// Grid

$column-index: 100vw / 12;
$column-gap: 24px;
$column-edit: 100vw / 24;


// Fonts

@font-face {
  font-family: "ptrootui bold";
  src: url(/assets/ptrootui/ptrootui-bold.ttf) format("truetype");
}

@font-face {
  font-family: "ptrootui medium";
  src: url(/assets/ptrootui/ptrootui-medium.ttf) format("truetype");
}

@font-face {
  font-family: "menlo";
  src: url(/assets/menlo/menlo-regular.woff) format("truetype");
}

@font-face {
  font-family: "tttravels";
  src: url(/assets/tttravels/tttravels-demibold.ttf) format("truetype");
}

// Text Styles

h1 {
  font-family: "ptrootui bold";
  font-weight: normal;

  font-size: 76px;
  line-height: 68px;
}

h2 {
  font-family: "ptrootui bold";
  font-weight: normal;

  font-size: 24px;
  line-height: 24px;
}

h3 {
  font-family: "ptrootui bold";
  font-weight: normal;

  font-size: 14px;
  line-height: 20px;
}

p, .ce-paragraph {
  font-family: "ptrootui medium";
  font-weight: normal;

  font-size: 14px;
  line-height: 20px;
}

p.link {
  color: $primary;
}

p.disabled {
  color: $grey;
}
